/HourTimer.class
/IManager.class
/ITimer.class
/Manager.class
/OneHourJob.class
/ThrottlingClass.class
/IThrottlingClass.class
/testManager.class
/testThrottlingClass.class
/testThrottling.class
/MessageSender.class
/IThrottlingAction.class
/testThrottlingAction.class
